:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  font-weight: 400;
}


body {
  margin: 0px;
  padding: 0px;
  background-color: rgb(237, 237, 237);
}

.logo {
  height: 70px;
  padding: 20px;
}

.header {
  background-color: rgb(250, 226, 226);
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 0px;
}
.logo-wrap {
  display: flex;
  justify-content: center;
  align-items: center;
  font-style: italic;
}
.header > nav > ul {
  display: flex;
  gap: 18px;
  list-style-type: none;
  padding-right: 50px;
}
.header > nav > ul > li {
  cursor: pointer;
  font-weight: 700;
  font-size: 20px;
}

.filterBtn {
  margin: 10px 0px 0px 30px;
  font-size: 14px;
  cursor: pointer;
  font-weight:600;
  border: none;
  background-color: rgb(255, 199, 175);
  border-radius: 30px;
  padding: 5px 15px;
  
}
.cardWrap {
  height: 420px;
  max-width: 250px;
  background-color: rgb(253, 255, 240);
  border-radius: 15px;
  border: 2px solid rgb(253, 255, 240);
  transition-duration: 400ms;
  padding: 5px;

}

.cardWrap > * {
  margin: 0px;
}

.cardImg {
  border-radius: 15px;
  width: 100%;
  height: 240px;
  object-fit: cover;
}

.cardWrap:hover {
  border: 2px solid rgb(188, 188, 188);
  cursor: pointer;
}

.cardsSection, .shimmer-wrap {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
  gap: 20px;
  padding: 30px 97px;
  justify-content: center;

}
.cardInfo {
  display: flex;
  justify-content: space-between;
}

.cardInfo-Bottom > * {
  margin: 5px;
}

.shimmer-card {
  height: 420px;
  max-width: 250px;
  background-color: #e0dedef0;
  border-radius: 15px;
  padding: 5px;
}

.Navbar {
  display: flex;
  align-items:center;

}

.login-btn {
  font-size: 19px;
  cursor: pointer;
  font-weight:700;
  border: none;
  background-color: rgb(255, 164, 138);
  border-radius: 30px;
  margin-right: 30px;
  height: 50px;
  width: 100px;
}

.searchbar {
  border-radius: 10px;
  border: 1px solid rgb(151, 151, 151);
  background-color: rgb(211, 211, 211);
  padding: 3px 10px;
  font-size: 15px;
  margin: 10px 0px 0px 30px;
}

.search-btn {
  font-size: 14px;
  cursor: pointer;
  font-weight:600;
  border: none;
  background-color: rgb(255, 199, 175);
  border-radius: 30px;
  margin-left: 5px;
  padding: 5px 15px;
}