:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  font-weight: 400;
}


body {
  margin: 0px;
  padding: 0px;
  background-color: rgb(237, 237, 237);
}

.logo {
  height: 70px;
  padding: 20px;
}

.header {
  background-color: rgb(250, 226, 226);
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 0px;
}
.logo-wrap {
  display: flex;
  justify-content: center;
  align-items: center;
  font-style: italic;
}
.header > nav > ul {
  display: flex;
  gap: 18px;
  list-style-type: none;
  padding-right: 50px;
}
.header > nav > ul > li {
  cursor: pointer;
  font-weight: 700;
  font-size: 20px;
}

.cardWrap {
  height: 420px;
  max-width: 250px;
  background-color: rgb(253, 255, 240);
  border-radius: 15px;
  border: 2px solid rgb(253, 255, 240);
  transition-duration: 400ms;
  padding: 5px;

}

.cardWrap > * {
  margin: 0px;
}

.cardImg {
  border-radius: 15px;
  height: 220px;
  width: 100%;
  object-fit: cover;
}

.cardWrap:hover {
  border: 2px solid rgb(188, 188, 188);
  cursor: pointer;
}

.cardsSection {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
  gap: 20px;
  padding: 30px;
  justify-content: center;

}
.cardInfo {
  display: flex;
  justify-content: space-between;
}

.cardInfo-Bottom > * {
  margin: 5px;
}


