:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;
}

.logo {
  height: 70px;
  padding: 20px;
}

.header {
  background-color: rgb(250, 226, 226);
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.logo-wrap {
  display: flex;
  justify-content: center;
  align-items: center;
  font-style: italic;
}
.header > nav > ul {
  display: flex;
  gap: 18px;
  list-style-type: none;
  padding-right: 50px;
}
.header > nav > ul > li {
  cursor: pointer;
  font-weight: 700;
  font-size: 20px;
}

.cardWrap {
  padding: 8px;
  height: 380px;
  width: 250px;
  background-color: rgb(247, 247, 247);
  border-radius: 8px;
}

.cardWrap > * {
  margin: 0px;
  box-sizing: border-box;
}

.cardImg {
  height: 200px;
  width: 250px;
}

.cardWrap:hover {
  border: 2px solid rgb(152, 151, 151);
  cursor: pointer;
}

.cardsSection {
  display: flex;
  flex-wrap: wrap;
  gap: 15px;
}
.cardInfo {
  display: flex;
  justify-content: space-between;
}

.cardInfo-Bottom > * {
  margin: 5px;
}


